#content.io-main_content.io-page_404
	.container-fluid
		.row
			.col-md-1
				aside.io-social_aside
					ul.io-social_list
						li: a(href=""): i.fa.fa-instagram
						li: a(href=""): i.fa.fa-twitter
						li: a(href=""): i.fa.fa-soundcloud
						li: a(href=""): i.fa.fa-github
			.col-md-11
				.io-page_404__content
					.io-page_404__text
						.number404 404
						.pageNotFound page not found
						.large404 Unfortunatelly, this page does not exist :(
						.small404 Don't sweet it. Try looking on the 
							a(href="index.html") home page
					