mixin comment
	.io-comment
		.io-comment_info
			.io-comment_author__thumb(style="background-image: url(assets/img/gallery_images/image_1.jpg)")
				
			
		.io-comment_content

			.io-comment_author__name: a(href="#") BackFlip Progression
			.io-comment_meta
				.io-comment_meta__date 
					a(href="#") June 31, 2017 at 7:45 pm
				.io-comment_meta__reply
					a(href="#") Reply
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum exercitationem accusantium quos illum excepturi, beatae vitae, obcaecati.


section.io-comment_section
	.container-fluid
		h2.io-comment_section__title Comments
		.io-comment_list
			+comment
			+comment
		.io-comment_form
			h3 Leave a comment
			form.io-contact_form
				.io-row
					.col.col--1-of-2.io-form__group
						input(type="text" placeholder="Name:" name="name" id="first-name" class="form_input" required="required")
					.col.col--1-of-2.io-form__group
						input(type="text" placeholder="Email:" name="email" id="email" class="form_input" required="required")
					.col.col--12-of-12.io-form__group
						textarea(rows="6" placeholder="Comment:" name="message" id="text_message" class="form_input" required="required")
					.col.col--12-of-12.io-form__group
						input(type="submit" value="Send Message" name="message" id="send_message" class="form_submit io-btn") 
