section#frontpage.io-front_screens
	.flexslider.io-screens
		ul.slides
			li.io-front_screen
				.front_screen__content
					h2.front_screen__title
						span a professional
						span wep
						span developer
					p.front_screen__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, tempora.
			li.io-front_screen
				.front_screen__content
					h2.front_screen__title
						span a professional
						span wep
						span developer
					p.front_screen__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, tempora.