aside#off-sidebar.io-nav_sidebar
	.io-sidebar_content
		.io-sidebar_trigger
			i.fa.fa-times
		nav.io-main_nav
			ul.io-nav_list
				li: a(href="index.html")
					i.fa.fa-home
					| Home
				li: a(href="about.html")
					i.fa.fa-user
					| About
				li.menu-item 
					a(href="#")
						i.fa.fa-list
						| Categories
					ul.sub-menu
						li: a(href="index.html")
							i.fa.fa-code
							| HTML &amp; CSS
						li: a(href="blog.html")
							i.fa.fa-ravelry
							| Level 2
						li: a(href="index.html")
							i.fa.fa-bath
							| Level 2
				li: a(href="contacts.html")
					i.fa.fa-envelope
					| Contacts