section#home.io-slider
	article.io-top_article
		.io-top_article__content
			.io-top_article__categories.cat
				ul.post-categories
					li: a(href="") culture
					li: a(href="") home
			h2.io-top_article__title
				a(href="single.html") Welcome! I want to tell you a little about myself
			.io-top_article__date
				span April 14, 2014 7:05 a.m.