#content.io-main_about
	.container-fluid
		.row
			.col-md-1
				aside.io-social_aside
					ul.io-social_list
						li: a(href=""): i.fa.fa-instagram
						li: a(href=""): i.fa.fa-twitter
						li: a(href=""): i.fa.fa-soundcloud
						li: a(href=""): i.fa.fa-github
			.col-md-11
				article.io-about_article
					.io-about_article__content
						.io-about_thumb(style="background-image: url(assets/img/gallery_images/image_2.jpg);")
						h2.io-panel_title About Me
						h3.io-panel_sub__title Hi! My name is Subaru Deza
						p I am talanted florist and decorator. I have graduated from International and cultural university of design and arts. Since first year in high school I relized that nature is most powerfull and beautiful gift in the world. I was captivated by beauty and simplicity of flowers and trees. Since then I have started to create and mastering unique and nice bouquets. My 1st masterpiece was garden of ant Ula Lowe decorated by me
					// about skills
					.io-about_skills
						.io-about_skills__item
							.progress_circle 90%
							.progress_title HTML &amp; CSS
						.io-about_skills__item
							.progress_circle 50%
							.progress_title Javascript
						.io-about_skills__item
							.progress_circle 40%
							.progress_title Wordpress