section#featured_projects.io-featured_projects
	.container-fluid
		h2 Recent Projects
		.row
			.col-md-3
				a(href="").io-ft_project
					.io-ft_project__thumb
					.io-ft_project__name Rejento
			.col-md-3
				a(href="").io-ft_project
					.io-ft_project__thumb
					.io-ft_project__name Personal
			.col-md-3
				a(href="").io-ft_project
					.io-ft_project__thumb
					.io-ft_project__name Photographer
			.col-md-3
				a(href="").io-ft_project
					.io-ft_project__thumb
					.io-ft_project__name Codepix
		.row
			.col-md-12
				hr
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rem, odit et, delectus quo, beatae aspernatur dicta nobis quod enim, error fugit.