#content.io-main_content
	.container-fluid
		.row
			.col-md-1
				aside.io-social_aside
					ul.io-social_list
						li: a(href=""): i.fa.fa-instagram
						li: a(href=""): i.fa.fa-twitter
						li: a(href=""): i.fa.fa-soundcloud
						li: a(href=""): i.fa.fa-github
			.col-md-11
				.io-articles_list
					article.io-article.article_large
						a(href="single.html").io-article_content
							.io-article_thumb(style="background-image: url(assets/img/gallery_images/image_1.jpg);")
							h3.io-article_excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quasi.
						.io-article_meta
							.io-article_author: a(href="#") codepix.corp
							.io-article_day 14
							.io-article_date April, 2017
					article.io-article.article_large
						a(href="single.html").io-article_content
							.io-article_thumb(style="background-image: url(assets/img/gallery_images/image_8.jpg);")
							h3.io-article_excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quasi.
						.io-article_meta
							.io-article_author: a(href="#") codepix.corp
							.io-article_day 14
							.io-article_date April, 2017
					article.io-article.article_large
						a(href="single.html").io-article_content
							.io-article_thumb(style="background-image: url(assets/img/gallery_images/image_4.jpg);")
							h3.io-article_excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quasi.
						.io-article_meta
							.io-article_author: a(href="#") codepix.corp
							.io-article_day 14
							.io-article_date April, 2017
					article.io-article.article_large
						a(href="single.html").io-article_content
							.io-article_thumb(style="background-image: url(assets/img/gallery_images/image_7.jpg);")
							h3.io-article_excerpt Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quasi.
						.io-article_meta
							.io-article_author: a(href="#") codepix.corp
							.io-article_day 14
							.io-article_date April, 2017
		.io-load_more__wrapper
			a(href="#").io-load_more.io-btn Load more