article#single.io-single_article
	.io-single_top
		.io-article_categories.cat
			ul.post-categories
				li: a(href="") culture
				li: a(href="") home
		h2.io-single_article__title Welcome! I want to tell you a little about myself
		.io-single_article__date
			span April 14, 2014 7:05 a.m.
	.io-single_middle
		.container-fluid
			.io-single__content
				.io-single_thumbnail(style="background-image: url(assets/img/gallery_images/image_4.jpg);")
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ut, doloremque quaerat hic, omnis aut iste quod, cum molestias inventore vitae quae autem dolorem magni aspernatur amet dicta distinctio aperiam. Perferendis ea vel repellendus provident ipsa quam fuga, at illo, velit, aliquam dolore voluptatibus doloribus. Dolorum totam ut optio. Nisi.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, ut, doloremque quaerat hic, omnis aut iste quod, cum molestias inventore vitae quae autem dolorem magni aspernatur amet dicta distinctio aperiam. Perferendis ea vel repellendus provident ipsa quam fuga, at illo, velit, aliquam dolore voluptatibus doloribus. Dolorum totam ut optio. Nisi.