header.io-main_header.box_shadow.io-single_header
	.container-fluid.header_container
		.io-prev_post
			a(href="")
				i.fa.fa-chevron-left
				span prev
		.io-main_logo 
			a(href="index.html") codepix.corp
		.io-next_post
			a(href="")
				span next
				i.fa.fa-chevron-right