
<div id="content" class="io-main_content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <aside class="io-social_aside">
          <ul class="io-social_list">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-soundcloud"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-11">
        <div class="io-page_404__content">
          <form role="search" method="get" action="http://forbidden.project/" class="search-form">
            <label><span class="screen-reader-text">Найти:</span>
              <input type="search" placeholder="Поиск&amp;hellip;" value="" name="s" class="search-field"/>
            </label>
            <input type="submit" value="Поиск" class="search-submit"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>