
<div id="content" class="io-main_content io-page_404">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <aside class="io-social_aside">
          <ul class="io-social_list">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-soundcloud"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-11">
        <div class="io-page_404__content">
          <div class="io-page_404__text">
            <div class="number404">404</div>
            <div class="pageNotFound">page not found</div>
            <div class="large404">Unfortunatelly, this page does not exist :(</div>
            <div class="small404">Don't sweet it. Try looking on the <a href="index.html">home page</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>