
<section class="io-comment_section">
  <div class="container-fluid">
    <h2 class="io-comment_section__title">Comments</h2>
    <div class="io-comment_list">
      <div class="io-comment">
        <div class="io-comment_info">
          <div style="background-image: url(assets/img/gallery_images/image_1.jpg)" class="io-comment_author__thumb"></div>
        </div>
        <div class="io-comment_content">
          <div class="io-comment_author__name"><a href="#">BackFlip Progression</a></div>
          <div class="io-comment_meta">
            <div class="io-comment_meta__date"> <a href="#">June 31, 2017 at 7:45 pm</a></div>
            <div class="io-comment_meta__reply"><a href="#">Reply</a></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum exercitationem accusantium quos illum excepturi, beatae vitae, obcaecati.</p>
        </div>
      </div>
      <div class="io-comment">
        <div class="io-comment_info">
          <div style="background-image: url(assets/img/gallery_images/image_1.jpg)" class="io-comment_author__thumb"></div>
        </div>
        <div class="io-comment_content">
          <div class="io-comment_author__name"><a href="#">BackFlip Progression</a></div>
          <div class="io-comment_meta">
            <div class="io-comment_meta__date"> <a href="#">June 31, 2017 at 7:45 pm</a></div>
            <div class="io-comment_meta__reply"><a href="#">Reply</a></div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum exercitationem accusantium quos illum excepturi, beatae vitae, obcaecati.</p>
        </div>
      </div>
    </div>
    <div class="io-comment_form">
      <h3>Leave a comment</h3>
      <form class="io-contact_form">
        <div class="io-row">
          <div class="col col--1-of-2 io-form__group">
            <input type="text" placeholder="Name:" name="name" id="first-name" required="required" class="form_input"/>
          </div>
          <div class="col col--1-of-2 io-form__group">
            <input type="text" placeholder="Email:" name="email" id="email" required="required" class="form_input"/>
          </div>
          <div class="col col--12-of-12 io-form__group">
            <textarea rows="6" placeholder="Comment:" name="message" id="text_message" required="required" class="form_input"></textarea>
          </div>
          <div class="col col--12-of-12 io-form__group">
            <input type="submit" value="Send Message" name="message" id="send_message" class="form_submit io-btn"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>