
<section id="frontpage" class="io-front_screens">
  <div class="flexslider io-screens">
    <ul class="slides">
      <li class="io-front_screen">
        <div class="front_screen__content">
          <h2 class="front_screen__title"><span>a professional</span><span>wep</span><span>developer</span></h2>
          <p class="front_screen__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, tempora.</p>
        </div>
      </li>
      <li class="io-front_screen">
        <div class="front_screen__content">
          <h2 class="front_screen__title"><span>a professional</span><span>wep</span><span>developer</span></h2>
          <p class="front_screen__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, tempora.</p>
        </div>
      </li>
    </ul>
  </div>
</section>