
<aside id="off-sidebar" class="io-nav_sidebar">
  <div class="io-sidebar_content">
    <div class="io-sidebar_trigger"><i class="fa fa-times"></i></div>
    <nav class="io-main_nav">
      <ul class="io-nav_list">
        <li><a href="front-page.html"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="about.html"><i class="fa fa-user"></i>About</a></li>
        <li class="menu-item menu-item-has-children"><a href="#"><i class="fa fa-list"></i>Categories</a>
          <ul class="sub-menu">
            <li><a href="index.html"><i class="fa fa-code"></i>HTML &amp; CSS</a></li>
            <li><a href="blog.html"><i class="fa fa-ravelry"></i>Level 2</a></li>
            <li><a href="index.html"><i class="fa fa-bath"></i>Level 2</a></li>
          </ul>
        </li>
        <li><a href="contacts.html"><i class="fa fa-envelope"></i>Contacts</a></li>
      </ul>
    </nav>
  </div>
</aside>