
<section id="home" class="io-slider">
  <article class="io-top_article">
    <div class="io-top_article__content">
      <div class="io-top_article__categories cat">
        <ul class="post-categories">
          <li><a href="">culture</a></li>
          <li><a href="">home</a></li>
        </ul>
      </div>
      <h2 class="io-top_article__title"><a href="single.html">Welcome! I want to tell you a little about myself</a></h2>
      <div class="io-top_article__date"><span>April 14, 2014 7:05 a.m.</span></div>
    </div>
  </article>
</section>