
<section id="featured_projects" class="io-featured_projects">
  <div class="container-fluid">
    <h2>Recent Projects</h2>
    <div class="row">
      <div class="col-md-3"><a href="" class="io-ft_project">
          <div class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Rejento</div></a></div>
      <div class="col-md-3"><a href="" class="io-ft_project">
          <div class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Personal</div></a></div>
      <div class="col-md-3"><a href="" class="io-ft_project">
          <div class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Photographer</div></a></div>
      <div class="col-md-3"><a href="" class="io-ft_project">
          <div class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Codepix</div></a></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rem, odit et, delectus quo, beatae aspernatur dicta nobis quod enim, error fugit.</p>
      </div>
    </div>
  </div>
</section>