
<section id="featured_projects" class="io-featured_projects">
  <div class="container-fluid">
    <h2>Recent Projects</h2>
    <div class="io-featured_projects__content">
      <div class="io-ft_box"><a href="https://themeforest.net/item/rejento-personal-portfolio-html-template/19383839" target="_blank" class="io-ft_project">
          <div style="background-image: url(assets/img/thumbnail_portfolio.jpg)" class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Rejento</div></a></div>
      <div class="io-ft_box"><a href="https://themeforest.net/item/codepix-creation-personal-html-template/19627435" target="_blank" class="io-ft_project">
          <div style="background-image: url(assets/img/thumbnail_personal.jpg)" class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Personal</div></a></div>
      <div class="io-ft_box"><a href="https://themeforest.net/item/rejento-photographer-personal-portfolio-one-page-html-template/19513078" target="_blank" class="io-ft_project">
          <div style="background-image: url(assets/img/thumbnail_photo.jpg)" class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Photographer</div></a></div>
      <div class="io-ft_box"><a href="https://themeforest.net/item/rejento-personal-portfolio-html-template/19383839" class="io-ft_project">
          <div style="background-image: url(assets/img/thumnbnail.jpg)" class="io-ft_project__thumb"></div>
          <div class="io-ft_project__name">Codepix</div></a></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias rem, odit et, delectus quo, beatae aspernatur dicta nobis quod enim, error fugit.</p>
      </div>
    </div>
  </div>
</section>