
<div id="content" class="io-main_about">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1">
        <aside class="io-social_aside">
          <ul class="io-social_list">
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-soundcloud"></i></a></li>
            <li><a href=""><i class="fa fa-github"></i></a></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-11">
        <article class="io-about_article">
          <div class="io-about_article__content">
            <div style="background-image: url(assets/img/gallery_images/image_2.jpg);" class="io-about_thumb"></div>
            <h2 class="io-panel_title">About Me</h2>
            <h3 class="io-panel_sub__title">Hi! My name is Subaru Deza</h3>
            <p>I am talanted florist and decorator. I have graduated from International and cultural university of design and arts. Since first year in high school I relized that nature is most powerfull and beautiful gift in the world. I was captivated by beauty and simplicity of flowers and trees. Since then I have started to create and mastering unique and nice bouquets. My 1st masterpiece was garden of ant Ula Lowe decorated by me</p>
          </div>
          <!-- about skills-->
          <div class="io-about_skills">
            <div class="io-about_skills__item">
              <div class="progress_circle">90%</div>
              <div class="progress_title">HTML &amp; CSS</div>
            </div>
            <div class="io-about_skills__item">
              <div class="progress_circle">50%</div>
              <div class="progress_title">Javascript</div>
            </div>
            <div class="io-about_skills__item">
              <div class="progress_circle">40%</div>
              <div class="progress_title">Wordpress</div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>