
<section id="related_posts" class="io-related_posts">
  <div class="container-fluid">
    <h2>Related Posts</h2>
    <div class="io-related_posts__content">
      <div class="io-related_posts__wrap">
        <div class="io-related_post">
          <div class="io-rt_post"><a href="#" class="io-rt_post__name">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="io-rt_post__meta">
              <div class="post-date">June 16, 2017</div>
            </div>
          </div>
        </div>
        <div class="io-related_post">
          <div class="io-rt_post"><a href="#" class="io-rt_post__name">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="io-rt_post__meta">
              <div class="post-date">June 16, 2017</div>
            </div>
          </div>
        </div>
        <div class="io-related_post">
          <div class="io-rt_post"><a href="#" class="io-rt_post__name">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
            <div class="io-rt_post__meta">
              <div class="post-date">June 16, 2017</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>